export KUBECONFIG=$PWD/.kube/config
export HELM_HOME=$PWD/.helm

function create-workspace {
    TUSER=$1; shift 
    TPASSWORD=$1; shift

    kubectl create ns $TUSER
    helm template theia-on-kubernetes/theia-k8s-helm --set user=$TUSER --set password=$TPASSWORD --set namespace=$TUSER --set-file ingressKey=ssl/privkey.pem --set-file ingressCrt=ssl/cert.pem | kubectl apply -f -
}
export_function create-workspace
